################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
.vs/ApothAudioTools/v15/Server/sqlite3/storage.ide
.vs/ApothAudioTools/v15/Server/sqlite3/storage.ide
.vs/ApothAudioTools/v15/Server/sqlite3/storage.ide-shm
.vs/ApothAudioTools/v15/Server/sqlite3/storage.ide-wal
